## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家':['Taiwan', 'Korea', 'United States', 'Finland', 'Bhutan', 'Portugal', 'Turkey', 'Indonesia'] ,
        '人口': np.random.randint(800000, 400000000, size = 8)}
frame = pd.DataFrame(data)
frame

              國家         人口
0         Taiwan   27570962
1          Korea  134004678
2  United States  185940947
3        Finland  208629976
4         Bhutan  194129030
5       Portugal  362022234
6         Turkey  226961198
7      Indonesia  371288638